#! /bin/sh								
						                  			
for f in fs/*.js								
do									
   mos put $f								
done									
									
mos config-set \
   wifi.sta.enable=true \
   wifi.ap.enable=false \
   wifi.sta.ssid='ssid' wifi.sta.pass=secret \
   sys.tz_spec='CET-1CEST,M3.5.0,M10.5.0/3' \
   mqtt.enable=true \
   mqtt.server=192.168.0.43:1883 \
   mqtt.user=user \
   mqtt.pass=secret \

#   i2c.debug=false \
#   i2c.scl_gpio=3 \
#   i2c.sda_gpio=1 \


